<app-ui>
  <app-icon-close class="tr-icon-close"></app-icon-close>
  <app-icon-nav class="tr-icon-open"></app-icon-nav>
  <!-- ici par défaut uniquement le code html de ui.component.html  -->
  <!-- projeter le template header.component.html dans ui.component.html -->
  <app-header class="tr-header"></app-header>
  <!-- projeter le template nav.component.html dans ui.component.html -->
  <app-nav class="tr-nav"></app-nav>
  <!-- projeter un div en attendant de voir le router pour nos pages dans ui.component.html -->
  <div class="tr-content">page dynamique en fonction d'une route</div>
  <!-- projeter le template footer.component.html dans ui.component.html -->
  <app-footer class="tr-footer"></app-footer>
</app-ui>
