<header class="fixed-top">
  <span (click)="toggle()">
    <ng-content *ngIf="open; else esleBlock" select=".tr-icon-close"></ng-content>
  </span>
  <ng-template #esleBlock>
    <ng-content select=".tr-icon-open"></ng-content>
  </ng-template>
  <!-- projection (transclusion) de header component ici -->
  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': !open}">

  <div class="shadow position-fixed">

  </div>

  <aside>
    <div class="scroller">
      <!-- projection (transclusion) de nav component ici -->
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>

  <div class="page">

    <div class="contents">

      <!-- projection (transclusion) d'un component dynamique ici (selon la route sur laquelle vous êtes) -->
      <ng-content select=".tr-content"></ng-content>

    </div>

    <footer>
      <!-- projection (transclusion) de footer component ici -->
      <ng-content select=".tr-footer"></ng-content>
    </footer>

  </div>
</main>
